<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello, this is home page ...</h1>
    <p>{{title}}</p>
    <p>{{desc}}</p>
    <p>{{number}}</p>
    <p>{{ list1 }}</p>
    <p>{{ list1.3 }}</p>

    <hr />

    <ul>
      {% for i in list1 %}
      <li>{{i}}</li>
      {% endfor %}
    </ul>

    <hr />

    {% if number == 3511 %}
    <p>Hasan</p>
    {%else%}
    <p>Other</p>
    {%endif%}

    <hr />

    <p>{{number|add:"2"}} {{number|add:"-2"}}</p>
    <p>{{number}}</p>
    <!-- original value didnt change. -->
  </body>
</html>
